[mysqld]

default-time-zone      = '+00:00'
skip-name-resolve


#
# * Fine Tuning
#

# When alter table change column, the key_buffer is used for rebuild the index. So make it as big as possile based on the RAM available
key_buffer_size         = 1G

# A bigger (default 192K/32bits or 256K/64bits) thread_stack is needed since classfile_climb is using Recursive algorithm 
thread_stack            = 16M

read_rnd_buffer_size    = 512M
bulk_insert_buffer_size = 128M
max_heap_table_size     = 5G
tmp_table_size          = 5G

# Defines the maximum amount of memory that can be occupied by the TempTable storage engine before it starts storing data on disk
#  - Mariadb do not have this option yet
temptable_max_ram       = 5G

# Job Server need a big sort_buffer_size, we can set it as big as possible
# https://dba.stackexchange.com/questions/10732/adding-an-index-very-slow-is-there-a-mysql-cmd-to-get-an-eta-or-show-progress
sort_buffer_size        = 512M


max_connections         = 600

slow_query_log          = 1
long_query_time         = 2
disable-log-bin
log_queries_not_using_indexes = 1


# Mariadb only - enable this one
#log-queries-not-using-indexes
#log_slow_verbosity     = query_plan


#
# * Character sets
#

character-set-server   = utf8mb4
collation-server       = utf8mb4_bin

#
# * InnoDB
#

# Buffer Pool Settings based on OS RAM Size
#   OS RAM :  innodb_buffer_pool_size / innodb_buffer_pool_instances
#
#    16 GB                        10G / 10
#    32 GB                        20G / 20
#    64 GB                        40G / 40
#   128 GB                        80G / 64
#
# Notes:
#   innodb_buffer_pool_instances max value is 64
#   innodb_read_io_threads       max value is 64
#

innodb_buffer_pool_size         = 10G
innodb_buffer_pool_instances    = 10
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 0
innodb_flush_log_at_timeout     = 4
innodb_log_buffer_size          = 256M
innodb_log_file_size            = 1G
innodb_log_files_in_group       = 4
innodb_sort_buffer_size         = 64M
innodb_read_io_threads          = 64
innodb_write_io_threads         = 32

# Optionally disabling the doublewrite buffer if more concerned with performance than data integrity
innodb_doublewrite              = 0


#
# Others
#

# https://stackoverflow.com/questions/26015160/
log_bin_trust_function_creators = 1

# 50 MB limit
group_concat_max_len = 52428800

