[mysqld]

character-set-server   = utf8mb4
collation-server       = utf8mb4_bin
default-time-zone      = '+00:00'
skip-name-resolve


#
# * Fine Tuning
#

# When alter table change column, the key_buffer is used for rebuild the index. So make it as big as possile based on the RAM available
key_buffer_size         = 1G

# A bigger (default 192K/32bits or 256K/64bits) thread_stack is needed since classfile_climb is using Recursive algorithm 
thread_stack            = 16M

read_rnd_buffer_size    = 512M
bulk_insert_buffer_size = 128M
max_heap_table_size     = 5G
tmp_table_size          = 5G

# Job Server need a big sort_buffer_size, we can set it as big as possible
# https://dba.stackexchange.com/questions/10732/adding-an-index-very-slow-is-there-a-mysql-cmd-to-get-an-eta-or-show-progress
sort_buffer_size        = 512M


max_connections         = 600

slow_query_log          = 1
long_query_time         = 2
disable-log-bin


#
# * InnoDB
#

# 64 is the current biggest value for innodb_buffer_pool_instances
# 64 is the current biggest value for innodb_read_io_threads

# Buffer Pool Size
#    16 GB RAM System = 10G / 10
#    32 GB RAM System = 20G / 20
#    64 GB RAM System = 40G / 40
#   128 GB RAM System = 80G / 64

innodb_buffer_pool_size         = 10G
innodb_buffer_pool_instances    = 10
innodb_file_per_table           = 1
innodb_flush_log_at_trx_commit  = 0
innodb_flush_log_at_timeout     = 4
innodb_log_buffer_size          = 256M
innodb_log_file_size            = 512M
innodb_log_files_in_group       = 4
innodb_read_io_threads          = 64
innodb_write_io_threads         = 32


#
# Others
#

# https://stackoverflow.com/questions/26015160/
log_bin_trust_function_creators = 1

# 50 MB limit
group_concat_max_len = 52428800

